@charset "UTF-8";
header {
  /* position: fixed; 상단 고정이 필요할 때 사용 */
  width: 100%;
  z-index: 1000;
  top: 0;
  transition: all 0.3s ease-in-out;
  transform: translateY(0);
}
header .top-banner {
  height: 38px;
}
header .top-banner .swiper-slide {
  width: 100%;
}
header .top-banner .swiper-slide.bg-cream {
  background-color: var(--bg-cream);
}
header .top-banner .swiper-slide.bg-oatmeal {
  background-color: var(--bg-oatmeal);
}
header .top-banner .swiper-slide.bg-main {
  background-color: var(--main-color);
}
header .top-banner .swiper-slide a {
  font-size: 12px;
  font-weight: 400;
}
header .top-banner .swiper-slide a span {
  text-decoration: underline;
  font-weight: 500;
}
@media (max-width: 1024px) {
  header .top-banner {
    display: none !important;
  }
}
header .header-main {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1024px) {
  header .header-main .inner {
    height: 60px;
  }
}
header .header-main .inner .logo {
  width: 91px;
  height: 24px;
  background-color: var(--white);
}
header .header-main .inner .gnb ul {
  gap: 46px;
}
@media (max-width: 1200px) {
  header .header-main .inner .gnb ul {
    gap: 10px;
  }
}
header .header-main .inner .gnb ul li a {
  padding: 20px;
  color: #fff;
}
@media (max-width: 1024px) {
  header .header-main .inner .gnb.show-1024-over {
    display: none;
  }
}
header .header-main .inner .header-util {
  display: flex;
  gap: 20px;
}
header .header-main .inner .header-util button .icon {
  filter: brightness(0) invert(1);
}
@media (max-width: 1024px) {
  header .header-main .inner .header-util button.show-1024-over {
    display: none;
  }
}
header .header-main .inner .header-util button.btn-menu-close {
  display: none;
}
header .header-main .inner .header-util.show-1024-under {
  display: none;
}
@media (max-width: 1024px) {
  header .header-main .inner .header-util.show-1024-under {
    display: flex;
  }
}
header .mega-menu {
  transition: all 0.3s ease-in-out;
  height: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  background-color: rgba(250, 250, 250, 0.9);
  white-space: nowrap;
}
header .mega-menu .inner {
  max-width: 1520px;
}
header .mega-menu .inner .mega-menu__nav {
  flex: 1;
  padding: 30px 0 50px;
  border-right: 1px solid #f0f0f0;
  padding-right: 50px;
}
@media (max-width: 1200px) {
  header .mega-menu .inner .mega-menu__nav {
    padding-right: 20px;
  }
}
header .mega-menu .inner .mega-menu__nav .sub-nav {
  align-items: flex-start;
  gap: 20px;
}
header .mega-menu .inner .mega-menu__nav .sub-nav dl {
  width: 100%;
}
header .mega-menu .inner .mega-menu__nav .sub-nav dl dt {
  font-weight: 600;
  margin-bottom: 20px;
}
header .mega-menu .inner .mega-menu__nav .sub-nav dl dd {
  margin-bottom: 10px;
}
header .mega-menu .inner .mega-menu__nav .sub-nav dl dd a {
  display: inline-block;
}
header .mega-menu .inner .mega-menu__nav .sub-nav dl dd a::after {
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  background-color: #333;
  transition: width 0.2s ease-in-out;
}
header .mega-menu .inner .mega-menu__nav .sub-nav dl dd a:hover::after {
  width: 100%;
}
header .mega-menu .inner .mega-menu__promo {
  flex-shrink: 0;
  padding: 30px 0 50px;
  padding-left: 50px;
}
@media (max-width: 1200px) {
  header .mega-menu .inner .mega-menu__promo {
    padding-left: 20px;
  }
}
header .mega-menu .inner .mega-menu__promo .mega-promo {
  width: 253px;
}
@media (max-width: 1200px) {
  header .mega-menu .inner .mega-menu__promo .mega-promo {
    width: 200px;
  }
}
header .mega-menu .inner .mega-menu__promo .mega-promo .swiper-slide > a {
  width: 100%;
}
header .mega-menu .inner .mega-menu__promo .mega-promo .swiper-slide > a .mega-promo__thumb {
  width: 100%;
  aspect-ratio: 253/155;
  border-radius: 6px;
  overflow: hidden;
}
header .mega-menu .inner .mega-menu__promo .mega-promo .swiper-slide > a p {
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}
header.active .header-main {
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.1);
}
header.active .header-main .inner .logo {
  background-color: var(--black);
}
header.active .header-main .inner .gnb ul li a {
  color: #333;
}
header.active .header-main .inner .header-util button .icon {
  filter: none;
}
@media (min-width: 1025px) {
  header.hover .mega-menu {
    opacity: 1;
    height: 270px;
    pointer-events: auto;
    box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.1);
  }
}
header.hidden {
  transform: translateY(-100%);
}
header.scrolled {
  transform: translateY(-38px);
}
@media (max-width: 1024px) {
  header.scrolled {
    top: 0 !important;
    transform: translateY(0) !important;
  }
}
header .mobile-menu-overlay {
  display: none;
}
@media (max-width: 1024px) {
  header .mobile-menu-overlay {
    display: block;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: var(--white);
    z-index: 900;
    overflow-y: auto;
    /* 내용이 길어지면 내부 스크롤 */
    transform: translateX(-100%);
    transition: transform 0.4s ease;
  }
  header .mobile-menu-overlay.is-open {
    transform: translateX(0);
  }
}
header .mobile-menu-overlay .mobile-menu__nav .mobile-accordion {
  display: flex;
  flex-direction: column;
}
header .mobile-menu-overlay .mobile-menu__nav .mobile-accordion__header {
  width: 100%;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}
header .mobile-menu-overlay .mobile-menu__nav .mobile-accordion__header span {
  font-weight: 600;
  color: var(--black);
}
header .mobile-menu-overlay .mobile-menu__nav .mobile-accordion__header .icon-chevron-down {
  transition: transform 0.4s ease;
}
header .mobile-menu-overlay .mobile-menu__nav .mobile-accordion__header .icon-chevron-down.is-open {
  transform: rotate(180deg);
}
header .mobile-menu-overlay .mobile-menu__nav .mobile-accordion__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}
header .mobile-menu-overlay .mobile-menu__nav .mobile-accordion__content li a {
  padding: 20px 30px;
}
header .mobile-menu-overlay .mobile-menu__nav .mobile-accordion__content.is-open {
  max-height: 1000px;
}

footer {
  width: 100%;
  border-top: 1px solid #d9d9d9;
  padding: 70px 0;
}
footer .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .inner .footer__left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .inner .footer__left .logo {
  width: 91px;
  height: 24px;
  background-color: #535353;
}
footer .inner .footer__left__policy {
  display: flex;
  gap: 5%;
}
footer .inner .footer__left__policy li:first-child a {
  font-weight: 500;
}
footer .inner .footer__left__info {
  font-size: 14px;
}
footer .inner .footer__left__notice {
  color: var(--gray);
  font-size: 14px;
}
footer .inner .footer__left__notice .disclaimer {
  margin-top: 5px;
  line-height: 1.3em;
}
footer .inner .footer__right {
  font-size: 16px;
}
footer .inner .footer__right__cs .title {
  font-weight: 500;
}
footer .inner .footer__right__cs .number {
  font-weight: 300;
  font-size: 48px;
  margin-top: 16px;
  line-height: 1.3;
}
footer .inner .footer__right__cs .time {
  color: #999;
}
footer .inner .footer__right__sns {
  margin-top: 50px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.page-controls {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.page-controls .btn-scroll {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border: 1px solid #e9e9e9;
}
.page-controls .btn-scroll.up {
  border-radius: 99px 99px 0 0;
}
.page-controls .btn-scroll.down {
  border-radius: 0 0 99px 99px;
}

/* 메인 컨텐츠 영역 */
.container {
  position: relative;
  width: 100%;
  /* header가 fixed일 경우 header 높이만큼 padding-top을 주거나 
   section에 첫 여백을 조절할 때 기준점이 됨 */
}/*# sourceMappingURL=layout.css.map */